#login {
  width: 100%;
  height: 100%;
  background: #ffffff; }
  #login .login-mian .wx_login_log {
    width: 2.52rem;
    height: 1.38rem;
    padding-top: 1rem;
    margin-left: 0.9rem; }
    #login .login-mian .wx_login_log img {
      width: 100%; }
  #login .login-mian p {
    text-align: center;
    margin-top: 1.1rem;
    margin-left: 0rem;
    font-size: 0.44rem;
    color: #333333;
    font-family: "Microsoft YaHei"; }
  #login .login-mian #form {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 999; }
    #login .login-mian #form .trpt {
      padding-top: 0.5rem; }
    #login .login-mian #form tr .wx-user {
      width: 0.4rem;
      position: absolute;
      top: 0.21rem;
      left: 1.28rem; }
      #login .login-mian #form tr .wx-user img {
        width: 100%; }
    #login .login-mian #form tr .wx-psd {
      width: 0.4rem;
      position: absolute;
      top: 1.69rem;
      left: 1.28rem; }
      #login .login-mian #form tr .wx-psd img {
        width: 100%; }
    #login .login-mian #form tr input {
      border: 1px solid #4691D6;
      width: 5.68rem;
      height: 0.93rem;
      border-radius: 0.465rem;
      font-size: 0.30rem;
      padding-left: 1rem; }
    #login .login-mian #form tr .fignIn {
      border: 1px solid #4691D6;
      width: 5.68rem;
      height: 0.93rem;
      border-radius: 0.465rem;
      background: #4691D6;
      color: #ffffff;
      font-size: 0.32rem;
      padding-left: 0rem; }
  #login .login-mian .wx_login_bgd {
    height: 100%; }
    #login .login-mian .wx_login_bgd img {
      position: absolute;
      bottom: 0;
      width: 100%; }
  #login .Mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.3);
    filter: alpha(opacity=30); }
    #login .Mask .promptBox {
      width: 50%;
      height: 2.6rem;
      position: relative;
      top: 50%;
      left: 50%;
      margin-top: -2.5rem;
      margin-left: -25%;
      border-radius: 0.2rem;
      background-color: #fff; }
    #login .Mask .promptBox-title {
      border-bottom: 1px solid #eee; }
    #login .Mask .promptBox-title p {
      display: inline-block;
      width: 90%;
      line-height: 0.5rem;
      padding-left: 0.2rem; }
    #login .Mask .promptBox-title span {
      width: 10%;
      display: inline-block; }
    #login .Mask .promptBox-butt {
      text-align: center; }
    #login .Mask .promptBox input {
      width: 1rem;
      height: .5rem;
      color: #fff;
      text-align: center;
      line-height: .3rem;
      font-weight: 400;
      background-color: #c8c7cc;
      border-radius: 3px;
      display: inline-block;
      padding: 0 .1rem; }
    #login .Mask .promptBox-top {
      width: 100%;
      height: 1.4rem;
      line-height: 1.4rem;
      color: #000; }
    #login .Mask .promptBox-top p {
      text-align: center;
      font-size: 0.26rem; }

/*# sourceMappingURL=login.css.map */
